/* html5doctor.com Reset v1.6.1 - http://cssreset.com */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle}


/* ==========================================================================
   General
   ========================================================================== */

body{
	font-family: "georgia";
	color:#232323;
}

h1, h2, h3, h4{
	text-transform: uppercase;
	font-family: "brandon_grotesquebold";
	font-weight: normal;
}

h1{
	font-size: 2em;
}

h2{
	font-size: 1.1em;
	margin-bottom: 25px;
}

ul{
	display: block;
	list-style-type: none;
	border-top: 3px solid black;
}

.margin{
	margin-right: 20px;
}

.left{
	float:left;
}

.input{
	border:solid 1px #e0e0e0;
	font-size: 1em;
	padding:15px;
	width:65%;
	font-family: "georgia";
	font-style: italic;
}

.button{
	background: white;
	text-transform: uppercase;
	font-family: "brandon_grotesquebold";
	border:solid 3px black;
	font-size: 1em;
	font-weight: normal;
	padding: 11px;

}

.button.inactive{
	border-color: #c9c9c9;
	color: #c9c9c9;
	background: none;
}

.button:hover{
	background-color:#eaeaea; 
}

.button.inactive:hover{
	background:none; 
}

p.message{
	font-style: italic;
}

a{
	text-decoration: none;
	color: #232323;
}

a.back{
	text-decoration: underline;
	color:#656565;
	font-style: italic;
}

/* ==========================================================================
   Header
   ========================================================================== */

#header{
	background: #eaeaea;
	padding:40px;
}

span.date.header{
	font-size: 0.6em;
	color:#505050;
	padding-left: 20px;
}

/* ==========================================================================
   Content
   ========================================================================== */


#content{
	padding:40px;
	width:80%;
}

/* ==========================================================================
   Newsletter Page
   ========================================================================== */

form.newsletters{
	width:650px;
	position: relative;
}

.newsletter-list{
	margin-top: 70px;
	width:650px;
	position: absolute;
}

.newsletter-list li{
	padding: 40px 0 50px 0;
	width:650px;
	position: relative;
	border-bottom: solid 1px #e0e0e0;
}

.newsletter-list .button, 
form.newsletters .button{
	right:0;
	position: absolute;
}

.newsletter-list .button{
	top:30px;
	padding:14px;

}

.newsletter-list .date{
	padding-right: 20px;
	color:#848484;
}

/* ==========================================================================
   Overview Page
   ========================================================================== */

/* Header
   ========================================================================== */


#sub-header{
	background: #f8feeb;
	padding: 40px;
	position: relative;
}

#sub-header.incomplete{
	background: #fff8f8;
}

#sub-header .button{
	position: absolute;
	left: 39%;
	top: 30%;
}

#sub-header p{
	width:35%;
}


/* Newsletter Header
   ========================================================================== */

.navi td{
	width:140px;
}

#templateHeader{
	table-layout: fixed;
}

#templateHeader td{
	width:140px;
}

#headerLogo{
	margin-bottom: 20px;
}

#headerHeading{
	margin-bottom: 10px;
}

/* Create Section
   ========================================================================== */

.create{
	background: url(img/plus.png) no-repeat center 60px #eaeaea;
	width:600px;
	height:200px;
	display: block;
	margin: 20px 0 20px 0;
	text-align: center;
	line-height: 300px;
	text-transform: uppercase;
	font-family: "brandon_grotesquebold";
	font-weight: normal;
}

.create:hover{
	background-color: #e0e0e0;	
}
/* Newsletter Footer
   ========================================================================== */

.socialMedia{
	text-align: center;
	border-bottom: 2px solid #000000;
	padding-bottom: 20px;
}

#stayTuned{
	padding: 20px 0 20px 0;
}

#templateFooter{
	/*@editable*/ background-color:#FFFFFF;
	/*@editable*/ border-top:0;
}

.footerContent div{
	/*@editable*/ color:#232323;
	/*@editable*/ font-family:georgia;
	/*@editable*/ font-size:10px;
	/*@editable*/ line-height:125%;
	/*@editable*/ text-align:left;
}

.footerContent{
	/*@editable*/ color:#232323;
	/*@editable*/ font-family:georgia;
	/*@editable*/ font-size:10px;
	text-align: center;
	padding: 10px 0 10px 0;
}

.footerContent a{
	/*@editable*/ color:#232323;
}

/* ==========================================================================
   Create Page
   ========================================================================== */

.create-form input{
	margin-bottom: 10px;
}

.create-form{
	position: relative;
	width:700px;
}

#file-input{
	width:100%;
	padding:15px;
}

#submit{
	position: absolute;
	right:100px;
	margin-top: 20px;
	margin-bottom:40px;
}

#filebutton{
	display:inline;
	margin-top: -47px;
	padding:14px;
	position: absolute;
	right:100px;
	color:#656565;
	border-color: #656565;
	background-color: #eaeaea;
}

#btn-overview{
	display: block;
	margin-top: 50px;
}




