/* html5doctor.com Reset v1.6.1 - http://cssreset.com */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;background:transparent}body{line-height:1}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle}


/* ==========================================================================
   General
   ========================================================================== */

body{
	font-family: "georgia";
	color:#232323;
}

h1, h2, h3, h4{
	text-transform: uppercase;
	font-family: "brandon_grotesquebold";
	font-weight: normal;
}

h1{
	font-size: 2em;
}

h2{
	font-size: 1.1em;
	margin-bottom: 25px;
}

h4, .h4{
	/*@editable*/ color:#202020;
	display:block;
	/*@editable*/ font-family:"Futura", sans-serif;
	/*@editable*/ text-transform:uppercase;
	/*@editable*/ font-size:18px;
	/*@editable*/ font-weight:normal;
	/*@editable*/ line-height:100%;
	margin-top:0 !important;
	margin-right:0 !important;
	margin-bottom:10px !important;
	margin-left:0 !important;
	/*@editable*/ text-align:left;
}

table h4, table .h4{
	line-height: 130%;
}

	/**
* @tab Page
* @section heading 5
* @tip Set the styling for all fourth-level headings in your emails. These should be the smallest of your headings.
* @style heading 5
*/
h5, .h5{
	/*@editable*/ color:#202020;
	display:block;
	/*@editable*/ font-family:"Georgia", serif;
	/*@editable*/ font-size:16px;
	/*@editable*/ font-weight:normal;
	/*@editable*/ line-height:100%;
	margin-top:0 !important;
	margin-right:0 !important;
	margin-bottom:10px !important;
	margin-left:0 !important;
	/*@editable*/ text-align:left;
}

				/**
* @tab Page
* @section heading 6
* @tip Set the styling for all fourth-level headings in your emails. These should be the smallest of your headings.
* @style heading 6
*/
h6, .h6{
	/*@editable*/ color:#202020;
	display:block;
	/*@editable*/ font-family:"Futura", sans-serif;
	/*@editable*/ font-size:12px;
	/*@editable*/ text-transform:uppercase;
	/*@editable*/ font-weight:normal;
	/*@editable*/ line-height:120%;
	margin-top:0 !important;
	margin-right:0 !important;
	margin-bottom:5px !important;
	margin-left:0 !important;
	/*@editable*/ text-align:left;
}


				/**
* @tab Page
* @section heading 7
* @tip Set the styling for all fourth-level headings in your emails. These should be the smallest of your headings.
* @style heading 7
*/
h7, .h7{
	/*@editable*/ color:#737373;
	display:block;
	/*@editable*/ font-family:"Futura", sans-serif;
	/*@editable*/ font-size:10px;
	/*@editable*/ text-transform:uppercase;
	/*@editable*/ font-weight:normal;
	/*@editable*/ line-height:120%;
	margin-top:0 !important;
	margin-right:0 !important;
	margin-bottom:5px !important;
	margin-left:0 !important;
	/*@editable*/ text-align:left;
}

ul{
	display: block;
	list-style-type: none;
	border-top: 3px solid black;
}

.margin{
	margin-right: 20px;
}

.left{
	float:left;
}

.input{
	border:solid 1px #e0e0e0;
	font-size: 1em;
	padding:15px;
	width:65%;
	font-family: "georgia";
	font-style: italic;
}

.button{
	background: white;
	text-transform: uppercase;
	font-family: "brandon_grotesquebold";
	border:solid 3px black;
	font-size: 1em;
	font-weight: normal;
	padding: 11px;

}

.button.inactive{
	border-color: #c9c9c9;
	color: #c9c9c9;
	background: none;
}

.button:hover{
	background-color:#eaeaea; 
}

.button.inactive:hover{
	background:none; 
}

p.message{
	font-style: italic;
}

a{
	text-decoration: none;
	color: #232323;
}

a.back{
	text-decoration: underline;
	color:#656565;
	font-style: italic;
	display: block;
	margin-top: 20px;
}

a.underline{
	text-decoration: underline;
}

label{
	display: block;
	margin-top: 20px;
	margin-bottom: 5px;
	color:#656565;
}

.border-bottom{
	border-bottom: solid 1px #000000;
	width:600px;
	height:30px;
	margin-bottom: 30px
}

/* ==========================================================================
   Header
   ========================================================================== */

#header{
	background: #eaeaea;
	padding:40px;
}

span.date.header{
	font-size: 0.6em;
	color:#505050;
	padding-left: 20px;
}

/* ==========================================================================
   Content
   ========================================================================== */


#content{
	padding:40px;
	width:80%;
}

/* ==========================================================================
   Newsletter Page
   ========================================================================== */

form.newsletters{
	width:600px;
	position: relative;
}

.newsletter-list{
	margin-top: 70px;
	width:600px;
	position: absolute;
}

.newsletter-list li{
	padding: 40px 0 20px 0;
	width:600px;
	position: relative;
	border-bottom: solid 1px #e0e0e0;
}

.newsletter-list h2{
	width: 445px;
}

.newsletter-list .button, 
form.newsletters .button{
	right:0;
	position: absolute;
}

.newsletter-list .button{
	top:35px;
	padding:14px;

}

.newsletter-list .date{
	padding-right: 20px;
	color:#848484;
}

/* ==========================================================================
   Overview Page
   ========================================================================== */

/* Header
   ========================================================================== */


#sub-header{
	background: #f8feeb;
	padding: 40px;
	position: relative;
}

#sub-header.incomplete{
	background: #fff8f8;
}

#sub-header .button{
	position: absolute;
	left: 39%;
	top: 30%;
}

#sub-header p{
	width:35%;
}


/* Newsletter Header
   ========================================================================== */

.navi td{
	width:140px;
}

#templateHeader{
	table-layout: fixed;
}

#templateHeader td{
	width:140px;
}

#headerLogo{
	margin-bottom: 20px;
}

#headerHeading{
	margin-bottom: 10px;
}

/* Create Section
   ========================================================================== */

.create{
	background: url(img/plus.png) no-repeat center 60px #eaeaea;
	width:600px;
	height:200px;
	display: block;
	margin: 20px 0 20px 0;
	text-align: center;
	line-height: 300px;
	text-transform: uppercase;
	font-family: "brandon_grotesquebold";
	font-weight: normal;
}

.create.add{
	background-image: none;
	height:50px;
	line-height: 50px
}

.create:hover{
	background-color: #e0e0e0;	
}
/* Newsletter Footer
   ========================================================================== */

.socialMedia{
	text-align: center;
	border-bottom: 2px solid #000000;
	padding-bottom: 20px;
}

#stayTuned{
	padding: 20px 0 20px 0;
}

#templateFooter{
	/*@editable*/ background-color:#FFFFFF;
	/*@editable*/ border-top:0;
}

.footerContent div{
	/*@editable*/ color:#232323;
	/*@editable*/ font-family:georgia;
	/*@editable*/ font-size:10px;
	/*@editable*/ line-height:125%;
	/*@editable*/ text-align:left;
}

.footerContent p{
	line-height: 130%;
}

.footerContent{
	/*@editable*/ color:#232323;
	/*@editable*/ font-family:georgia;
	/*@editable*/ font-size:10px;
	text-align: center;
	padding: 10px 0 10px 0;
}

.footerContent a{
	/*@editable*/ color:#232323;
}

/* ==========================================================================
   Create Page
   ========================================================================== */

.create-form input{
	margin-bottom: 10px;
}

.create-form{
	position: relative;
	width:700px;
}

#file-input{
	width:100%;
	padding:15px;
}

#submit{
	position: absolute;
	right:100px;
}

#filebutton{
	display:inline;
	margin-top: -47px;
	padding:14px;
	position: absolute;
	right:100px;
	color:#656565;
	border-color: #656565;
	background-color: #eaeaea;
}

#btn-overview{
	display: block;
	margin-top: 50px;
}

.red, .red a, a.red{
	color:#c90208;
}

.curator{
	padding-left: 30px;
	position: relative;
}

.curator img{
	position: absolute;
	top:0px;
}

.curatedBy{
	padding-top: 20px;
	padding-bottom: 10px;
	padding-right: 10px;
	height:45px;
	
}

.curatedBy h6{
	line-height: 16px;
}

.contentRow{
	padding:40px 0 20px 0;
	/*@editable*/border-bottom: 1px solid #ededed;
}

.border_right{
			border-right: 1px solid #ededed;
}

.bodyContent p, a.read_more{
			
			color: #232323;
			display: block;
			margin-top: 20px;
}

a.read_more{
	text-decoration: underline;
	font-style: italic;
}

.bodyContent div, .bodyContent p{
	/*@editable*/ color:#232323;
	/*@editable*/ font-family:"Georgia", serif;
	/*@editable*/ font-size:14px;
	/*@editable*/ line-height:150%;
	/*@editable*/ text-align:left;
}


.contentRow{
	padding:40px 0 20px 0;
	/*@editable*/border-bottom: 1px solid #ededed;

}

.bodyContent img,{
				display:inline;
				height:auto;
			}

.margin-top{
	margin-top: 30px;
}

tr.subs td{
	padding-left: 10px;
	padding-top: 20px;
}

.price{
	color:#737373;
}

.artworkRow{
	padding-top: 20px;	
}

.insights{
	padding-right: 30px;
}

